<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="header">
<head>

    <title>Saúde &amp; Cia</title>


</head>

<section layout:fragment="conteudo">


    <div class="text-center pagination-centered">
        <br/>
        <img src="/images/if_medical_icon_3_1290986.png" height="128" width="128"/><br/>
        <button type="button" class="btn btn-outline-success">Médico</button>
        <br/>
        <br/>
        <img src="/images/flight-attendant.png" height="128" width="128"/><br/>
        <div class="pad">
            <a href="/secretaria"><button type="button" class="btn btn-outline-danger">Secretária</button> </a>

        </div>
        <br/>
        <br/>
        <img src="/images/notification.png" height="128" width="128"/><br/>
        <div class="pad">
            <button type="button" class="btn btn-outline-primary">Notificações</button>
        </div>

    </div>


</section>
</html>