<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="header">
<head>
    <meta charset="UTF-8"/>
    <title>Saúde &amp; Cia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<section layout:fragment="conteudo">

    <nav class="navbar navbar-toggleable-md navbar-dark navbar-custom">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/principal/secretaria">
            <img src="/images/if_princess-leia_1626630.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
            Secretária
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/principal">Principal</a>
                    <a class="nav-link" href="#">Médico</a>
                    <a class="nav-link" href="#">Notificações</a>
                </li>
            </ul>
        </div>
    </nav>
    <br/>

    <div class="alert alert-success alert-dismissible" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sucesso!</strong> Paciente cadastrado com sucesso.
    </div>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-expanded="true">Consultas</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <div class="pad">
                <div class="card border-danger mb-3" style="max-width: 100%;">
                    <div class="card-header">Menu da Secretária</div>
                    <div class="card-body text-danger">
                        <h4 class="card-title">Clique sobre a opção desejada</h4>

                        <div class="container" style="max-width: 40%;">

                            <ul class="nav">
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/if_happy_1325173.png" height="128" width="128"/><br/>
                                    <a href="secretaria/novo-paciente"> <button type="button" class="btn btn-dark">Cadastrar Paciente</button></a>

                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/if_wink_1325171.png" height="128" width="128"/><br/>
                                    <a href="secretaria/listaPacientes"><button type="button" class="btn btn-dark">Lista de Pacientes</button></a>

                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/if_dead_1325175.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Excluir Paciente</button>
                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/if_love_1325176.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Buscar Paciente</button>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            <div class="pad">
                <div class="card border-danger mb-3" style="max-width: 100%;">
                    <div class="card-header">Menu da Secretária</div>
                    <div class="card-body text-danger">
                        <h4 class="card-title">Clique sobre a opção desejada</h4>

                        <div class="container" style="max-width: 40%;">

                            <ul class="nav">
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/clipboard.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Cadastrar Paciente</button>
                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/analytics.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Editar Paciente</button>
                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/file.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Excluir Paciente</button>
                                </li>
                                <li class="nav-item text-center pagination-centered pad">
                                    <img src="/images/search.png" height="128" width="128"/><br/>
                                    <button type="button" class="btn btn-dark">Buscar Paciente</button>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="pills-dropdown1" role="tabpanel" aria-labelledby="pills-dropdown1-tab">...</div>
        <div class="tab-pane fade" id="pills-dropdown2" role="tabpanel" aria-labelledby="pills-dropdown2-tab">...</div>
    </div>


</section>
</html>



